Repository ansys/pyaedt-examples, pull requests merged in 2024-10, with the labels that each got.

#256 FIX: Fix sherlock example
  doc/source/conf.py
  examples/electrothermal/index.rst
  examples/electrothermal/sherlock.py
  examples/high_frequency/radiofrequency_mmwave/index.rst
  examples/low_frequency/motor/aedt_motor/_static/ipm_optimization.png
Labels: bug, documentation

#260 DOC: LTI ROM
  examples/aedt/hfss/index.rst
  examples/aedt/icepak/index.rst
  examples/aedt/twin_builder/index.rst
  examples/high_frequency/layout/power_integrity/dcir.py
  examples/high_frequency/radiofrequency_mmwave/iris_filter.py
  examples/low_frequency/general/twin_builder/_static/lti_rom.png
  examples/low_frequency/general/twin_builder/index.rst
  examples/low_frequency/general/twin_builder/lti_rom_sml.py
Labels: enhancement

#261 FEAT: replace ofieldsreporter with advanced fields calc expressions
  examples/high_frequency/layout/power_integrity/dcir_q3d.py
  examples/low_frequency/general/dc_analysis.py
  examples/low_frequency/general/field_export.py
  examples/low_frequency/motor/aedt_motor/transformer_inductance.py
  examples/low_frequency/team_problem/asymmetric_conductor.py
  examples/low_frequency/team_problem/bath_plate.py
Labels: enhancement

#268 CI: Upgrade actions version
  .github/workflows/ci_cd.yml
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
Labels: maintenance

#271 fix pre-commit config yaml
  .pre-commit-config.yaml
Labels: bug
