Repository ansys/pyaedt-examples, pull requests merged in 2025-06, with the labels that each got.

#386 FIX: SIwave example link
  examples/00_edb/legacy_standalone/siwave_dcir.py
  examples/high_frequency/layout/power_integrity/index.rst
Labels: bug

#387 DOCS: Add FRTM post
  examples/high_frequency/antenna/large_scenarios/doppler.py
Labels: enhancement

#394 DOCS: Update diff vias example
  examples/00_edb/legacy_standalone/differential_vias.py
Labels: documentation
