Repository ansys/pyaedt-examples, pull requests merged in 2025-03, with the labels that each got.

#326 FIX: Copy examples with architecture
  doc/source/conf.py
Labels: bug, documentation

#311 FIX: Dipole Example
  doc/source/conf.py
  examples/aedt_general/report/touchstone_file.py
  examples/aedt_general/report/virtual_compliance.py
  examples/high_frequency/antenna/_static/dipole_return_loss.png
  examples/high_frequency/antenna/_static/ff_report_ui_1.png
  examples/high_frequency/antenna/_static/ff_report_ui_2.png
  examples/high_frequency/antenna/_static/sphere_3d.png
  examples/high_frequency/antenna/array.py
  examples/high_frequency/antenna/dipole.py
Labels: bug, documentation

#333 FIX: PyEDB import
  examples/00_edb/legacy_standalone/GDS_workflow.py
Labels: bug

#339 Update City.py
  examples/high_frequency/antenna/large_scenarios/city.py
Labels: documentation

#340 DOCS: Improve error handling when building PDF
  .github/workflows/ci_cd.yml
  doc/make.bat
  doc/source/conf.py
  examples/high_frequency/layout/signal_integrity/circuit_transient.py
Labels: documentation, maintenance

#342 DOCS: Update Coplanar Waveguide Example
  examples/high_frequency/radiofrequency_mmwave/coplanar_waveguide.py
Labels: documentation
