Repository ansys/pyaedt-examples, pull requests merged in 2025-05, with the labels that each got.

#359 TESTS: Only run modied/new examples
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  examples/high_frequency/antenna/fss_unitcell.py
  requirements/requirements_doc.txt
Labels: documentation, dependencies, maintenance

#367 CI: Update dependabot configuration
  .github/dependabot.yml
Labels: maintenance

#368 CI: Update PR template
  .github/pull_request_template.md
  examples/high_frequency/antenna/fss_unitcell.py
Labels: maintenance

#374 docs: use correct tex command for degrees
  examples/high_frequency/antenna/dipole.py
Labels: bug

#378 CHORE: Update dependencies and add pyedb example back
  doc/source/conf.py
  requirements/requirements_doc.txt
Labels: documentation, dependencies

#380 FIX: AMI example context
  examples/high_frequency/layout/signal_integrity/ami.py
Labels: bug
